In [102]:
# Assignment 13.1
"""
Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Task:
1. Create an sqlalchemy engine using a sample from the data set
"""
from sqlalchemy import create_engine #importing create_engine

# create a engine that store data in the memory
engine = create_engine('sqlite:///:memory:', echo=True)

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base() # constructive a base class

from sqlalchemy import Column, Integer, String

class Adult(Base): #class definition which sql-chemy uses to create the table
    __tablename__ = 'adult' # tablename adult
    
    id=Column(Integer, primary_key=True) #int id
    age =Column(Integer) #int age
    workclass=Column(String) #varchar workclass
    fnlwgt=Column(Integer) #integer fnlwgt
    education=Column(String) #varchar education
    education_num=Column(Integer) #integer eduction
    marital_status=Column(String) #varchar martial_status
    occupation=Column(String) #varchar occupation
    relationship=Column(String) #varchar relationship
    race=Column(String) #varchar race
    sex=Column(String) #varchar sex
    capital_gain=Column(Integer) #integer capital_gain
    capital_loss=Column(Integer) #integer capital_loss
    hours_per_week=Column(Integer) #integer hours_per_week
    native_country=Column(String) #varchar native_country
    classs=Column(String) #varchar classs
    
    def _repr_(self):
        return "<Adult(id='%d')>" % (self.id)
  

from sqlalchemy.orm import sessionmaker
session = sessionmaker()
session.configure(bind=engine)

# Create all tables in the engine. This is equivalent to "Create Table" statements in raw SQL.    
Base.metadata.create_all(engine)

Adult.__table__

2018-09-24 22:42:42,647 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-09-24 22:42:42,649 INFO sqlalchemy.engine.base.Engine ()
2018-09-24 22:42:42,652 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-09-24 22:42:42,655 INFO sqlalchemy.engine.base.Engine ()
2018-09-24 22:42:42,659 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult")
2018-09-24 22:42:42,662 INFO sqlalchemy.engine.base.Engine ()
2018-09-24 22:42:42,670 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adult (
	id INTEGER NOT NULL,
	age INTEGER,
	workclass VARCHAR,
	fnlwgt INTEGER,
	education VARCHAR,
	education_num INTEGER,
	marital_status VARCHAR,
	occupation VARCHAR,
	relationship VARCHAR,
	race VARCHAR,
	sex VARCHAR,
	capital_gain INTEGER,
	capital_loss INTEGER,
	hours_per_week INTEGER,
	native_country VARCHAR,
	classs VARCHAR,
	PRIMARY KEY (id)
)


2018-09-24 22:42:42,672 INFO sqlalchemy.engine.base.Engine ()
2018-09-24 22:42:42,695 INFO sqlalchemy.engine.base.Engine COMMIT

Table('adult', MetaData(bind=None), Column('id', Integer(), table=<adult>, primary_key=True, nullable=False), Column('age', Integer(), table=<adult>), Column('workclass', String(), table=<adult>), Column('fnlwgt', Integer(), table=<adult>), Column('education', String(), table=<adult>), Column('education_num', Integer(), table=<adult>), Column('marital_status', String(), table=<adult>), Column('occupation', String(), table=<adult>), Column('relationship', String(), table=<adult>), Column('race', String(), table=<adult>), Column('sex', String(), table=<adult>), Column('capital_gain', Integer(), table=<adult>), Column('capital_loss', Integer(), table=<adult>), Column('hours_per_week', Integer(), table=<adult>), Column('native_country', String(), table=<adult>), Column('classs', String(), table=<adult>), schema=None)

In [103]:
print(Base.metadata.create_all(engine))

2018-09-24 22:42:50,380 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult")
2018-09-24 22:42:50,382 INFO sqlalchemy.engine.base.Engine ()
None

In [104]:
from sqlalchemy.orm import sessionmaker

In [105]:
Session = sessionmaker(bind=engine)

In [107]:
session = Session()

In [108]:
adult1=Adult(age=39,workclass='State-gov',fnlwgt=77516,education='Bachelors',education_num=13,marital_status='Never-married',occupation='Adm-clerical',relationship='Not-in-family',race='White',sex='Male',capital_gain=2174,capital_loss=0,hours_per_week=40,native_country='United-States',classs='<=50k')

In [109]:
#1. Create an sqlalchemy engine using a sample from the data set
session.add(adult1)

In [ ]:
#1. Create an sqlalchemy engine using a sample from the data set
session.add_all([
...     Adult(age=50,workclass='Self-emp-not-inc',fnlwgt=83311,education='Bachelors',education_num=13,marital_status='Married-civ-spouse',occupation='Exec-managerial',relationship='Husband',race='White',sex='Male',capital_gain=0,capital_loss=0,hours_per_week=13,native_country='United-States',classs='<=50k'),
...     Adult(age=38,workclass='Private',fnlwgt=215646,education='HS-grad',education_num=9,marital_status='Divorced',occupation='Handlers-cleaners',relationship='Not-in-family',race='White',sex='Male',capital_gain=0,capital_loss=0,hours_per_week=40,native_country='United-States',classs='<=50k'),
...     Adult(age=53,workclass='Private',fnlwgt=234721,education='11th',education_num=7,marital_status='Married-civ-spouse',occupation='Handlers-cleaners',relationship='Husband',race='Black',sex='Male',capital_gain=0,capital_loss=0,hours_per_week=40,native_country='United-States',classs='<=50k'),
...     Adult(age=28,workclass='Private',fnlwgt=338409,education='Bachelors',education_num=13,marital_status='Married-civ-spouse',occupation='Prof-speciality',relationship='Wife',race='Black',sex='Female',capital_gain=0,capital_loss=0,hours_per_week=40,native_country='Cuba',classs='<=50k')])

In [ ]:
# 2. Write two basic update queries
# update query 01
session.update(Adult).where(Adult.education=='11th').values(education_num=6)
session.commit()

In [ ]:
# update query 02
session.update(Adult).where(Adult.race=='Black').values(capital_gain=600)
session.commit()

In [ ]:
# 3. Write two delete queries
# delete query 01
session.delete(Adult).where(Adult.education=='11th')
session.commit()

In [ ]:
# delete query 02
session.delete(Adult).where(Adult.race=='Black'and capital_gain=600)
session.commit()

In [ ]:
# 4. Write two filter queries
# filter query 01
session.query(Adult).filter_by(workclass='Private').first()
session.commit()

In [ ]:
# filter query 02
session.query(Adult).filter(Adult.sex.in_(['Male'])).all()
session.commit()

In [ ]:
# 5. Write two function queries
#function query 01

from sqlalchemy import func

session.query(func.count(Adult.workclass), Adult.workclass).group_by(Adult.workclass).all()
session.commit()

In [111]:
#function query 02
session.query(func.count('*')).select_from(Adult).scalar()
session.commit()

In [112]:
print("end of the assignment")

end of the assignment